
<% action = (cat.persisted? ? cat_url(cat) : cats_url) %>
<% method = (cat.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post" >

        <input type="hidden" name="_method" value="<%= method %>" >

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

    <br><br>
    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="text" name="cat[birth_date]" value="<%= cat.birth_date %>">

    <br><br>
    <label for="color">color</label>
    <input id="color" type="text" name="cat[color]" value="<%= cat.color %>">

    <br><br>
    <label for="sex">sex</label>
    <input id="sex" type="text" name="cat[sex]" value="<%= cat.sex %>">

    <br><br>
    <label for="description">description
        <textarea name="cat[description]"><%= cat.description %></textarea>
    </label>
    <br>

    <%= submit_text = (cat.persisted? ? 'Update' : 'Create') + 'Cat' %>
    <input type="submit" value="<%= submit_text %>">


</form>