<% if action == :edit %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>

<form action="<%= action_url %>" method="post" >
    <% if action == :edit %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

    <br><br>
    <label for="birth_date">birth_date</label>
    <input id="birth_date" type="text" name="cat[birth_date]" value="<%= cat.birth_date %>">

    <br><br>
    <label for="color">color</label>
    <input id="color" type="text" name="cat[color]" value="<%= cat.color %>">

    <br><br>
    <label for="sex">sex</label>
    <input id="sex" type="text" name="cat[sex]" value="<%= cat.sex %>">

    <br><br>
    <label for="description">description</label>
    
    <textarea name="cat[description]" id="description"><%= cat.description %></textarea>
    <br>


    <input type="submit" value="<%= action == :edit ? 'update cat' : 'add cat' %>">


</form>